# fly.toml app configuration file
app = "chess-app-irakli"
primary_region = "fra"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[http_service.concurrency]
  type = "connections"
  soft_limit = 20
  hard_limit = 25

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1

